﻿    @{
        ViewBag.Title = "Paysheet System";
        ViewBag.Message = "Paysheet System";
        Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>
        @ViewBag.Message</h1>
    <p>
        Este proyecto ha surgido como una iniciativa del grupo de clase de la Especialización de Base de Datos de la Universidad Centroamericana UCA, debido a que el mercado actual carece de una herramienta de calidad que permita a la pequeña y mediana empresa controlar y gestionar su información de recursos humanos. Además las soluciones de calidad son prácticamente inalcanzables por el alto costo de inversión en licencia, implementación e infraestructura.</p>
    <p>
        <a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<!-- Example row of columns -->
<div class="row-fluid">
    <div class="span4">
        <h2>
            Heading</h2>
        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p>
            <a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>
            Heading</h2>
        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p>
            <a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>
            Heading</h2>
        <p>
            Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
            Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus
            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p>
            <a class="btn" href="#">View details &raquo;</a></p>
    </div>
</div>