﻿@model paysheet.Models.LogOnModel
@{
    ViewBag.Title = "Log On";
}
<h2>
    Acceder</h2>
<p>
    Por favor, introduzca su nombre de usuario y contraseña. Si no tiene cuenta favor @Html.ActionLink("registrarse", "Register").

</p>
@using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true, "Log on was unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-block alert-error" })
    <fieldset>
        <legend>Información de la Cuenta</legend>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="controls">
                @Html.TextBoxFor(m => m.UserName, new { @class = "required" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="controls">
                @Html.PasswordFor(m => m.Password, new { @class = "required" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.RememberMe)
            </div>
            <div class="controls">
                @Html.CheckBoxFor(m => m.RememberMe)
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" value="Acceder" class="btn btn-primary" />
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
